<script>
'use strict';
Capira.VideoPlayer = {
    properties: {
        src: {
            type: String,
        },
        duration: {
            type: Number,
            value: 0,
            notify: true
        },
        isPlaying: {
            type: Boolean,
            notify: true
        },
        autoplay: {
            value: 0
        },
    },
    get player() {
        return this.$.player;
    },
    togglePlay: function() {
        if (this.isPlaying) {
            this.pause();
        } else {
            this.play();
        }
    },
    seekTo: function(time, pause) {
        var wasPlaying = false;
        if (pause !== true && this.isPlaying) {
            wasPlaying = true;
        }
        this.pause();
        this._seekTo(time);

        clearTimeout(this.seekTimeout);
        if (wasPlaying === true) {
            this.seekTimeout = setTimeout(function() {
                this.play();
            }.bind(this), 300);
        }
    },
    seekWithoutTrigger: function(time) {
        window.doNotTriggerEvents = true;
        this.seekTo(time);
        setTimeout(function() {
            window.doNotTriggerEvents = false;
        }, 100);
    }
};
</script>
