<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<dom-module id="back-button">
    <template>
    <style> 
    :host {
        pointer-events: all;
        display: none;
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 4;
    }
     </style>
        <paper-icon-button icon="player-icons:arrow-back" id="back"></paper-icon-button>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'back-button',
        hide: function() {
            this.style.display = 'none';
        },
        show: function() {
            this.style.display = 'block';
        }
    });
})();
</script>
