<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../mark-up/mark-up.html">
<dom-module id="multi-answer-value-selector">
    <template>
        <style>
        paper-checkbox {
            display: block;
            padding: 8px;
        }
        
        #content {
            margin-bottom: 16px;
        }
        </style>
        <div id="content">
            <template is="dom-repeat" items="{{overlay.options}}" id="list">
                <paper-checkbox on-iron-change="toggleSelection" on-change="_computeValue">
                    <mark-up content="[[item]]"></mark-up>
                </paper-checkbox>
            </template>
        </div>
        <array-selector multi items="{{overlay.options}}" selected="{{selected}}" id="selector"></array-selector>
    </template>
</dom-module>
<script>
'use strict';
Polymer({
    is: 'multi-answer-value-selector',
    properties: {
        overlay: Object,
        combination: {
            type: Object,
            notify: true,
            observer: '_combinationChanged'
        }
    },
    _combinationChanged: function() {
        if (this.overlay) {
            var selector = this.$.selector;
            this.overlay.options.forEach(function(option) {
                selector.deselect(option);
            }.bind(this));

            if (this.combination) {
                var checkboxes = this.$.content.querySelectorAll('paper-checkbox');
                for (var i = 0; i < checkboxes.length; i++) {
                    var checkbox = checkboxes[i];
                    if (this.combination.value && this.combination.value.indexOf(i) > -1) {
                        checkbox.checked = true;
                        selector.select(this.overlay.options[i]);
                    } else {
                        checkbox.checked = false;
                    }
                }
            }
        }
    },
    toggleSelection: function(e) {
        if (e && e.target && this.combination && this.overlay && this.overlay.options) {
            var selector = this.$.selector;
            var item = this.$.list.itemForElement(e.target);

            if (e.target.checked) {
                selector.select(item);
            } else {
                selector.deselect(item);
            }
        }
    },
    _computeValue: function() {
        this.async(function() {
            var value = [];
            this.selected.forEach(function(option) {
                value.push(this.overlay.options.indexOf(option));
            }.bind(this));
            this.set('combination.value', value);
            console.log(this.combination.value);
        }, 0);
    }
});
</script>
