<link rel="import" href="../../editor/edit-page/edit-page.html">
<link rel="import" href="../overlay-top-bar/overlay-top-bar.html">
<script>
'use strict';
window.Capira = window.Capira || {};
window.Capira.OverlayEditPageImpl = {
    properties: {
        overlay: {
            type: Object,
            notify: true,
            observer: 'overlayChanged'
        }
    },
    observers: ['_timestampChanged(overlay.event.*)'],
    overlayChanged: function() {
        //abstract
    },
    _timestampChanged: function(changeRecord) {
        if (changeRecord.path !== 'overlay.event') {
            console.log('timestamp-changed', changeRecord);
            if (window.app && app.player) {
                var overlayContainer = this.layout.$.main;
                if (overlayContainer) {
                    overlayContainer.style.opacity = '0.4';
                }
                app.player.pause();
                if (this.overlay.event && this.overlay.event.start) {
                    app.player.seekTo(this.overlay.event.start);
                }


                this.debounce('stopPlayer', function() {
                    app.player.pause();
                    overlayContainer.style.opacity = '1';
                }, 400);
            }
        }
    }
};

window.Capira.OverlayEditPage = [Capira.EditPage, Capira.OverlayEditPageImpl];
</script>
