<link rel="import" href="progress-service.html">
<link rel="import" href="progress-behavior.html">
<link rel="import" href="../api/capira-api-intern.html">
<script>
'use strict';
window.Capira.QuizProgressImpl = {
    _overlayChanged: function() {
        this.overlay.progress = {
            attempts: 0,
            highestScore: 0
        };
    },
    _setScore: function() {
        var score = 1 / this.overlay.progress.attempts;
        if (score > this.overlay.progress.highestScore) {
            this.overlay.progress.highestScore = score;
            this.service.update();
        }

    },
    progress: function(combination) {
        if (combination) {
            console.log(combination);
            if (!combination.grade && combination.grade !== 0) {
                return;
            }
            switch (combination.grade) {
                case Capira.Grade.CORRECT:
                    this.overlay.progress.attempts += 1;
                    this._setScore();
                    this._sendToAPI(this.overlay.progress.highestScore);
                    break;
                case Capira.Grade.INCORRECT:
                    this.overlay.progress.attempts += 1;
                    this._sendToAPI(0);
                    break;
                case Capira.Grade.NEUTRAL:
                    this._sendToAPI(0.000001);
                    break;
                case Capira.Grade.SKIPPED:
                    this.overlay.progress.attempts += 1;
                    this._sendToAPI(-1);
                    break;
            }
        }
    },
    _sendToAPI: function(score) {
        if (window.iFrameAPI) {
            var totalQuizzes;
            if (app.unit.overlays) {
                totalQuizzes = app.unit.overlays.reduce(function(a, e) {
                    return a + (e.type ? 1 : 0)
                }, 0);
            }

            iFrameAPI.sendJSON({
                layer: this.overlay.id,
                score: score,
                time: 15,
                totalQuizzes: totalQuizzes
            })
        }
    }
};
Capira.QuizProgress = [Capira.QuizProgressImpl, Capira.ProgressBehavior];
</script>
