<link rel="import" href="../quiz-editor/quiz-editor.html">
<link rel="import" href="custom-quiz-top-bar.html">
<link rel="import" href="item-top-bar.html">
<link rel="import" href="editable-item.html">
<link rel="import" href="has-editable-items.html">
<link rel="import" href="../socratic-custom-quiz/custom-quiz.html">
<link rel="import" href="../mathslang/edit-mathslang.html">
<dom-module id="custom-quiz-edit-page">
    <template>
        <edit-page-layout>
            <custom-quiz-top-bar top overlay="{{overlay}}"></custom-quiz-top-bar>
            <answer-top-bar top states="combination" combination="{{selectedCombination}}"></answer-top-bar>
            <item-top-bar top states="item" item="{{selectedItem}}"></item-top-bar>
            <custom-quiz main states="default combination item mathslang" overlay="{{overlay}}" on-tap="_overlayState" id="quiz" combination="{{selectedCombination}}"></custom-quiz>
            <answers-selector right overlay="{{overlay}}" selected="{{selectedCombination}}" states="default item" value-type="mathslang"></answers-selector>
            <answer-editor right states="combination" combination="{{selectedCombination}}" overlay="{{overlay}}">
                <mathslang-value-selector value="{{selectedCombination.value}}" overlay="{{overlay}}" title="Click to edit"></mathslang-value-selector>
            </answer-editor>
            <mathslang-editor right states="mathslang" overlay="{{overlay}}" value="{{selectedCombination.value}}"></mathslang-editor>
        </edit-page-layout>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'custom-quiz-edit-page',
        properties: {
            selectedItem: {
                type: Object,
                notify: true
            },
        },
        observers: ['_itemChanged(selectedItem.*)', '_itemAdded(overlay.items.*)'],
        behaviors: [Capira.QuizEditPage, Capira.CreateMathslangAnswers],
        listeners: {
            'item-selected': '_itemSelected',
            'highlight-item': '_highlightItem',
            'unhighlight-item': '_unhighlightItem',
            'add-item': '_addItem',
            'delete-item': '_deleteItem'
        },
        _overlayState: function() {
            this.fire('edit-state', 'default');
            if (this.selectedItemElem) {
                this.selectedItemElem.unhighlight();
            }
        },
        _itemSelected: function(e) {
            if (this.selectedItemElem) {
                this.selectedItemElem.unhighlight();
            }
            if (e.path) {
                this.selectedItemElem = e.path[0];
                this.selectedItemElem.highlight();
                this.set('selectedItem', e.detail);
                if (this.layout.state !== 'mathslang') {
                    this.fire('edit-state', 'item');
                }
            }
        },
        _itemAdded: function(changeRecord) {
            if (changeRecord.path === 'overlay.items.splices') {
                console.log('items changed:', changeRecord);
                this.$.quiz._initItems();
                //if operation was no deletion
                if (changeRecord.base.splices.keySplices[0].added.length) {
                    console.log('items added');
                    var item = changeRecord.base[changeRecord.base.length - 1];
                    this.$.quiz.getItemById(item.id).click();
                    return;
                }

                if (!changeRecord.base.splices.keySplices[0].removed.length) {
                    console.log('item deleted');
                }
            }
        },
        _itemChanged: function(changeRecord) {
            if (changeRecord.path !== 'selectedItem') {
                // sub-property of selectedItem changed
                var path = changeRecord.path.replace('selectedItem', 'item');
                this.selectedItemElem.set(path, changeRecord.value);
            }
        },
        _highlightItem: function(e) {
            var item = this.$.quiz.getItemById(e.detail.id);
            if (item) {
                item.highlight();
            }
        },
        _unhighlightItem: function(e) {
            var item = this.$.quiz.getItemById(e.detail.id);
            if (item) {
                item.unhighlight();
            }
        },
        overlayChanged: function() {
            if (!this.overlay.items.length) {
                //wait until top-bar antimation is finished
                setTimeout(function() {
                    this._addItem();
                }.bind(this), 600);
            }
        },
        _addItem: function() {
            var itemTemplate = {
                'id': Date.now(),
                'type': 'input-item',
                'x': 0.46,
                'y': 0.45,
                'z': 1,
                'w': 0.06,
                'fontSize': 2
            };
            if (!this._blockAdd) {
                this._blockAdd = true;
                this.push('overlay.items', itemTemplate);
            }
            //don't let the user create two items at once
            setTimeout(function() {
                this._blockAdd = false;
            }.bind(this), 500);
        },
        _deleteItem: function() {
            var item = this.selectedItem;
            this.fire('edit-state', 'default');
            var index = this.overlay.items.indexOf(item);
            this.splice('overlay.items', index, 1);
        }
    });
})();
</script>
