<script type="text/javascript" src="../../bower_components/hashids/lib/hashids.min.js" inline></script>
<script>
'use strict';
var hashids = new Hashids('Capira is aawesome', 8);
Polymer({
    is: 'route-manager',
    properties: {
        unitId: {
            notify: true,
        }
    },
    attached: function() {
        function changeHandler() {
            var hash = window.location.hash.replace('#', '').replace('/', '');
            hash = hash || 1;
            this.set('unitId', hash);
            console.log('route changed to:', this.unitId);
        }

        window.addEventListener('hashchange', changeHandler.bind(this), false);
        changeHandler.bind(this)();
    }
});
</script>
