#loading-animation {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    pointer-events: none;
}

/* will-change attributes set via css can not be discarded later by js. For this reason we assign
the property by a class */
.logo-will-change #logo, .logo-will-change #light, .loading-animation-will-change #loading-pause-button {
    will-change: opacity;
}

.logo-will-change #bulb {
    will-change: stroke-dashoffset;
}

.loading-animation-will-change #loading-bg {
    will-change: transform, background-color, border-radius;
}

.loading-animation-will-change #loading-play-button {
    will-change: transform, opacity;
}

#loading-bg {
    height: 100%;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.6s cubic-bezier(0, 0.74, 0.89, 1.21), background-color 0.6s, border-radius 0.6s;
}

#loading-play-button, #loading-pause-button {
    position: absolute;
    padding: 13%;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
}

#loading-play-button {
    fill: #f9b905;
    transform: translateX(0) scale(0.1);
    transition: opacity 0.4s cubic-bezier(0.9, 0.05, 1, 1), transform 0.4s, fill 0.4s;
    transition-delay: 0.2s;
}

#loading-pause-button {
    fill: white;
    transition: opacity 0.4s linear;
}

#logo {
    transition: opacity 0.2s;  
}

#logo svg {
    position: absolute;
    left: 64px;
    top: 47px;
}

#bulb {
    stroke-dasharray: 707;
    stroke-dashoffset: 0;
    animation: dash 3s linear forwards;
}

#light {
    animation: shine 3s linear forwards;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 707;
    }
    15% {
        stroke-dashoffset: 1414;
    }
    75% {
        stroke-dashoffset: 1414;
    }
    90% {
        stroke-dashoffset: 2121;
    }
    100% {
        stroke-dashoffset: 2121;
    }
}
