<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../capira-icons/icons.html">
<link rel="import" href="fullscreen-button.html">
<link rel="import" href="video-controls-animations.html">
<dom-module id="video-controls">
    <template>
        <style>
        :host {
            display: block;
            width: 100%;
            color: white;
            bottom: 0;
        }
        
        #container {
            position: relative;
            z-index: 1;
            padding: 0 12px;
            box-sizing: border-box;
        }
        
        :host,
        #progress {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        #progress {
            background-color: transparent;
            padding-top: 12px;
            height: 3px;
            cursor: pointer;
            z-index: 4;
            position: relative;
            z-index: 1;
        }
        
        #progressed,
        #bar {
            will-change: height;
        }
        
        #progress:hover #progressed,
        #progress:hover #bar {
            height: 4px;
        }
        
        #progressed {
            background-color: #F00;
            height: 3px;
            position: absolute;
        }
        
        #progress > #bar {
            background-color: rgba(255, 255, 255, .2);
            height: 3px;
            width: 100%;
            position: absolute;
            pointer-events: none;
        }
        
        #controls {
            height: 36px;
            @apply(--layout-horizontal);
            @apply(--layout-center);
            z-index: 1;
        }
        
        #duration {
            font-family: 'Roboto', 'Noto', sans-serif;
            text-shadow: 0 0 2px rgba(0, 0, 0, .5);
            color: #eee;
            -webkit-font-smoothing: antialiased;
            line-height: 22px;
            vertical-align: bottom;
            font-size: 11px;
            font-weight: 400;
            margin-left: 4px;
        }
        
        #play,
        #pause {
            padding: 0 4px;
            cursor: pointer;
        }
        
        #right {
            position: absolute;
            right: 8px;
            bottom: -2px;
        }
        
        [hidden] {
            display: none !important;
        }
        
        #gradient {
            position: absolute;
            bottom: 0;
            height: 98px;
            width: 100%;
            background-repeat: repeat-x;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
            background-position: bottom;
            pointer-events: none;
            z-index: 0;
        }
        </style>
        <div id="gradient"></div>
        <div id="container">
            <div id="progress">
                <div id="progressed" style$="{{cProgressStyle}}"></div>
                <div id="loaded"></div>
                <div id="bar"></div>
            </div>
            <div id="controls">
                <div id="left">
                    <iron-icon icon="player-icons:play-arrow" hidden$="{{isPlaying}}" id="play" on-tap="_play"></iron-icon>
                    <iron-icon icon="player-icons:pause" hidden$="{{!isPlaying}}" id="pause" on-tap="_pause"></iron-icon>
                    <span id="duration">{{cProgress}}</span>
                </div>
                <div id="right">
                    <fullscreen-button></fullscreen-button>
                    <span id="yt-logo"></span>
                </div>
                <content></content>
            </div>
        </div>
    </template>
    <script>
    'use strict';
    Polymer({
        is: 'video-controls',
        behaviors: [Capira.VideoControlsAnimations],
        properties: {
            currentTime: {
                type: Number,
                value: 0
            },
            duration: {
                type: Number,
                value: 0
            },
            cProgress: {
                computed: '_computeProgress(currentTime,duration)'
            },
            cProgressStyle: {
                computed: '_computeProgressStyle(currentTime,duration)'
            },
            isPlaying: {
                type: Boolean,
                value: false
            }
        },
        _computeTime: function(time) {
            var hrs = parseInt(time / 3600);
            hrs = hrs > 0 ? hrs + ':' : '';

            var mins = parseInt((time % 3600) / 60);
            mins = mins > 9 ? mins : '0' + mins;
            mins = mins ? mins : '00';

            var secs = parseInt(time % 60);
            secs = secs > 9 ? secs : '0' + secs;
            secs = secs ? secs : '00';

            return hrs + mins + ':' + secs;
        },
        _computeProgress: function(currentTime, duration) {
            return this._computeTime(currentTime) + ' / ' + this._computeTime(duration);
        },
        _computeProgressStyle: function(currentTime, duration) {
            return 'width:' + (currentTime / duration) * 100 + '%';
        },
        _play: function() {
            this.player.play();
        },
        _pause: function() {
            this.player.pause();
        },
        attached: function() {
            var progress = this.$.progress;
            var background = document.body;

            var seekStart = function(e) {
                e.preventDefault();
                e.stopPropagation();
                this.mousedown = true;
            }.bind(this);

            var seekPerformed = function(e) {
                if (this.mousedown) {
                    e.preventDefault();
                    e.stopPropagation();
                    var x = e.pageX - progress.getBoundingClientRect().left;
                    var seekToTime = x / progress.clientWidth * this.duration;
                    //this.currentTime = seekToTime;
                    this.player.seekTo(seekToTime);
                }
            }.bind(this);

            var seekEnd = function(e) {
                seekPerformed(e);
                this.mousedown = false;
            }.bind(this);

            //mouse events
            progress.addEventListener('mousedown', seekStart, false);
            background.addEventListener('mousemove', seekPerformed, false);
            background.addEventListener('mouseup', seekEnd, false);
            background.addEventListener('mouseleave', seekEnd, false);

            //touch events 
            progress.addEventListener('touchstart', seekStart, false);
            background.addEventListener('touchmove', seekPerformed, false);
            background.addEventListener('touchend', seekEnd, false);
            background.addEventListener('touchcancel', seekEnd, false);

        },
        setPlayer: function(player) {
            this.player = player;
            setInterval(function() {
                this.currentTime = this.player.getCurrentTime();
            }.bind(this), 100);
        }
    });
    </script>
</dom-module>
