<link rel="import" href="latex-editor.html">
<script>
'use strict';

window.Capira.EditableLatex = {
    listeners: {
        'dblclick': '_editLatex'
    },
    get editor() {
        var editor = document.querySelector('latex-editor');
        if (!editor) {
            editor = Polymer.Base.create('latex-editor');
            document.body.appendChild(editor);
        }
        return editor;
    },
    _editLatex: function() {
        this.editor.open(this.latexExp, function(exp){
             this.render.bind(this)(exp);
             this.fire('latex-changed');
        }.bind(this));
    }
};
</script>
