<link rel="import" href="mathslang-value.html">
<dom-module id="mathslang-value-selector">
    <template>
        <style>
        :host {
            cursor: pointer;
            margin-bottom: 16px;
            display: inline-block;
            margin-left: 8px;
        }
        
        div {
            @apply(--paper-font-body1);
            cursor: pointer;
        }
        </style>
        <mathslang-value value="{{value}}" overlay="{{overlay}}" hidden$="{{!valueExists}}"></mathslang-value>
        <span hidden$="{{valueExists}}">Click here to define an expression.</span>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'mathslang-value-selector',
        listeners: {
            'tap': '_editValue'
        },
        properties: {
            value: {
                type: Object,
                notify: true
            },
            overlay: {
                type: Object,
                notify: true
            },
            valueExists: {
                type: Boolean
            }
        },
        observers: ['_computeState(value.*)', '_computeState(value.exp)', '_computeState(value.values.splices)'],
        _editValue: function() {
            this.fire('edit-state', 'mathslang');
        },
        _computeState: function() {
            var value = this.value;
            if (value && value.exp && value.exp !== '') {
                this.set('valueExists', true);
                return;
            }
            if (value && value.values) {
                this.set('valueExists', true);
                return;
            }
            this.set('valueExists', false);
        }
    });
})();
</script>
