html, body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}

[aria-hidden] {
    display: none !important;
}

#main {
    margin: auto;
    position: relative;
}

