<script>
'use strict';
window.Capira = window.Capira || {};
window.Capira.EditSingleAnswer = {
    listeners: {
        'create-item': '_createItem'
    },
    properties: {
        editor: {
            value: true
        }
    },

    //FIXME Why doesn't this work with attached???
    ready: function() {
        var addButton = Polymer.Base.create('add-single-answer-button');
        Polymer.dom(this.$.items).appendChild(addButton);
    },
    _createItem: function() {
        if (!this.overlay.options) {
            this.set('overlay.options', []);
        }
        this.push('overlay.options', 'Type option ' + (this.overlay.options.length + 1) + ' here');
    },
    _deleteItem: function(e) {
        var option = e.path.reduce(function(a, el) {
            return el.option ? el.option : a
        }, null);
        if (option === null) {
            return console.error('option is null');
        }
        var index = this.overlay.options.indexOf(option);
        this.splice('overlay.options', index, 1);
    }
};

window.Capira.CanNotShuffle = {
    _shuffle: function(a, b) {
        return -1;
    },
    _findOriginalIndex: function(option) {
        return this.overlay.options.indexOf(option);
    }
};
</script>
