<link rel="import" href="../quiz-question/quiz-question-card.html">
<link rel="import" href="../quiz-animations/was-incorrect-animation.html">
<link rel="import" href="../quiz-animations/was-correct-animation.html">
<link rel="import" href="../quiz/quiz-theme.html">
<link rel="import" href="../overlay/overlay-scaling.html">
<dom-module id="quiz-card">
    <template>
        <style>
        :host {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 32px;
            @apply(--layout-scroll);
            padding-bottom: 32px;
            box-sizing: border-box;
        }
        
        #quiz {
            width: 512px;
            margin: 0 auto 0;
            background-color: white;
            border-radius: 2px;
            min-height: 400px;
        }
        
        #questionFeedback {
            height: 192px;
            width: 100%;
        }
        /* tablet-small */
        
        @media all and (max-width: 600px) {
            #quiz {
                width: 100%;
                min-height: 100vh;
                margin: 0;
            }
            :host {
                padding: 0px !important;
                box-sizing: border-box;
                box-shadow: none;
            }
            skip-button {
                color: white;
            }
        }
        
        @media all and (min-width: 1024px) {
            :host {
                padding-top: 64px;
            }
        }
        </style>
        <style include="overlay-scaling-style"></style>
        <paper-material id="quiz" elevation="3">
            <quiz-question-card id="questionFeedback" question="{{question}}" combination="{{combination}}">
            </quiz-question-card>
            <content>
            </content>
        </paper-material>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'quiz-card',
        behaviors: [
            Polymer.NeonAnimationRunnerBehavior, Capira.OverlayScaling
        ],
        properties: {
            question: {
                type: String,
                notify: true
            },
            combination: {
                type: String,
                notify: true,
                observer: 'showFeedback'
            },
            animationConfig: {
                value: function() {
                    return {
                        'incorrect-answer': {
                            name: 'was-incorrect-animation',
                            node: this.$.quiz,
                            duration: 900
                        },
                        'correct-answer': {
                            name: 'was-correct-animation',
                            node: this.$.quiz,
                            duration: 900
                        }
                    };
                }
            },
        },
        listeners: {
            'neon-animation-finish': '_onNeonAnimationFinish',
        },
        _onNeonAnimationFinish: function(e) {
            e.preventDefault();
            e.stopPropagation();
        },
        show: function() {
            this.$.questionFeedback.show();
        },
        wasAnswered: function() {
            this.$.questionFeedback.wasAnswered();
        },
        showFeedback: function(feedback) {
            //this.$.questionFeedback.showFeedback(feedback);
            if (feedback) {
                if (feedback.grade === Capira.Grade.INCORRECT) {
                    this.playAnimation('incorrect-answer');
                } else {
                    this.playAnimation('correct-answer');
                }
            }
        },
        attached: function() {
            this.ui = this.$.questionFeedback;
        },
        reset: function(hideFab) {
            this.$.questionFeedback.reset(hideFab);
        }
    });
})();
</script>
