<!DOCTYPE html>
<html>

<head>
    <!-- Web Components -->
    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- build:js ../elements.html -->
    <link rel="import" href="../../capira-helper/scaffold.html">
    <link rel="import" href="../../../bower_components/polymer/polymer.html">

    <link rel="import" href="../math-input-explanation.html">

    <!-- endbuild -->
    <style>

    </style>
</head>

<body unresolved>
    <math-input-explanation></math-input-explanation>
</body>

</html>
