<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../capira-account/account-preview.html">
<link rel="import" href="../top-bar/top-bar.html">
<link rel="import" href="../../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="share-button.html">
<dom-module id="unit-top-bar">
    <template>
        <style>
        paper-input {
            width: 400px;
        }
        
        #videoSrc {
            width: 160px;
            margin-left: 24px;
        }
        
        a {
            color: #212121;
        }
        </style>
        <paper-input value="{{unit.title}}" label="Video Title"></paper-input>
        <paper-input value="{{unit.video.src}}" label="Video URI" id="videoSrc"></paper-input>
        <span class="flex"></span>
        <share-button unit-id="{{unit._id}}"></share-button>
        <a href="/player/{{hashedId}}" target="_blank" id="view">
            <paper-icon-button icon="editor-icons:slideshow"></paper-icon-button>
        </a>
        <paper-tooltip for="view">View Lesson</paper-tooltip>
        <paper-icon-button id="save" icon="editor-icons:save" on-tap="_save"></paper-icon-button>
        <paper-tooltip for="save">Save Lesson</paper-tooltip>
    </template>
</dom-module>
<script>
'use strict';
Polymer({
    is: 'unit-top-bar',
    behaviors: [Capira.TopBar],
    properties: {
        unit: {
            type: Object,
            notify: true
        },
        hashedId: {
            computed: '_hash(unit)'
        }
    },
    _save: function() {
        this.fire('save-unit');
    },
    _hash: function() {
        return location.hash;
    }
});
</script>
