<script>
'use strict';
Capira.FocusableQuiz = {
    focusQuestion: function() {
        var elem = this.$.card;
        elem = elem.$.questionMarkup ? elem.$.questionMarkup : elem.$.questionFeedback.$.questionMarkup;
        elem = elem.$.content;
        this.selectElementText(elem);
    },

    selectElementText: function(el, win) {
        win = win || window;
        var doc = win.document,
            sel, range;
        if (win.getSelection && doc.createRange) {
            sel = win.getSelection();
            range = doc.createRange();
            range.selectNodeContents(el);
            sel.removeAllRanges();
            sel.addRange(range);
        } else if (doc.body.createTextRange) {
            range = doc.body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
    }
}
</script>
