<!DOCTYPE html>
<html manifest="/manifest.appcache">

<head>
    <!-- Web Components -->
    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- build:js ../elements.html -->
    <link rel="import" href="../../capira-helper/scaffold.html">
    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <script>
    window.isEditor = true;
    </script>
    <link rel="import" href="../editable-markup.html">
    <link rel="import" href="../mark-up.html">
    <!-- endbuild -->
    <style>

    </style>
</head>

<body>
    <mark-up content="This is some awesome <latex-formula>\pi^3</latex-formula>"> LaTeX-Formula</mark-up>
</body>

</html>
