<dom-module id="overlay-scaling-style">
    <template>
        <style>
        :host([scale]) {
            width: 800px !important;
            height: 450px !important;
            transform-origin: 0 0 !important;
            padding-top: 16px;
            position: relative;
        }
        </style>
    </template>
</dom-module>
<script>
Capira.OverlayScaling = {
    get parent() {
        if (this.parentNode.nodeType === Node.DOCUMENT_FRAGMENT_NODE) {
            return this.parentNode.host;
        }
        return this.parentNode;
    },
    get elementToScale() {
        return this;
    },
    attached: function() {

        this.resize();
        window.addEventListener('resize', this.resize.bind(this), false);

    },
    resize: function() {
        var that = this;

        function resizeMe() {
            var parentWidth = window.innerWidth;
            var parentHeight = window.innerHeight;
            if (that.parent && that.parent.clientWidth) {
                parentWidth = that.parent.clientWidth;
                parentHeight = that.parent.clientHeight;
            }
            console.log('scale', parentWidth, parentHeight)

            if (parentWidth < 800 || parentHeight < 550) {
                var scalingFactor = 1;
                if ((parentWidth * 9 / 16) > parentHeight) {
                    scalingFactor = parentHeight / 450;
                } else {
                    scalingFactor = parentWidth / 800;
                }
                that.elementToScale.style.transform = 'scale(' + scalingFactor + ')';
                that.elementToScale.setAttribute('scale', true);
            } else {
                that.elementToScale.removeAttribute('scale');
                that.elementToScale.style.transform = 'none';
            }
        }

        this.debounce('resize',function() {
            resizeMe();
        }, 100);
    }
}
</script>
