<link rel="import" href="../../../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../video-player-behavior.html">
<dom-module id="video-player-youtube">
    <template>
        <style>
        :host {
            display: block;
            height: 100%;
        }
        
        google-youtube {
            height: 100%;
        }
        </style>
        <google-youtube main video-id="[[src]]" height="100%" width="100%" rel="0" autoplay="[[autoplay]]" controls="0" showinfo="0" fs="0" id="player" duration="{{duration}}" playbackstarted="{{playbackstarted}}" state="{{state}}">
            <!-- start="100" end="105" -->
        </google-youtube>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'video-player-youtube',
        behaviors: [Capira.VideoPlayer],
        properties: {
            playbackstarted: {
                type: Boolean,
                observer: '_playerReady'
            },
            state: {
                type: Number,
                notify: true,
                observer: '_stateObserver'
            },
            isPlaying: {
                computed: '_isPlaying(state)',
                notify: true
            }
        },

        _seekTo: function(time) {
            this.player._player.seekTo(time, true);
        },

        play: function() {
            this.player._player.playVideo();
        },

        pause: function() {
            this.player._player.pauseVideo();
        },

        getCurrentTime: function() {
            return this.player._player.getCurrentTime();
        },

        _playerReady: function() {
            this.fire('player-ready');
        },

        _isPlaying: function(state) {
            if (state === 1) {
                return true;
            }
            if (state === 2) {
                return false;
            }
            return false;
        },

        _stateObserver: function(state) {
            switch (state) {
                case 0:
                    this.fire('video-ended');
                    break;
            }
        }

    });
})();
</script>
