<!DOCTYPE html>
<html>
<head>
    <title>Capira Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="styles/editor-splash.css" inline>
</head>
 
<body> 
    <span id="browser-sync-binding"></span> 
    <div id="sp">
        <div id="loader"></div>
        <div id="right-sp"></div>
        <div id="top-sp"></div>
    </div>
    <template is="dom-bind" id="app">
        <route-manager unit-id="{{unitId}}"></route-manager>
        <capira-service unit-id="{{unitId}}" unit="{{unit}}" loading="{{loading}}"></capira-service>
        <paper-progress indeterminate="true" id="loadingIndicator" hidden$="{{!loading}}"></paper-progress>
        <latex-editor></latex-editor>
        <unit-edit-page unit="{{unit}}"></unit-edit-page>
        <pages-manager unit="{{unit}}"></pages-manager>
        <changes-protector unit="[[unit]]"></changes-protector>
        <video-selector unit="{{unit}}"></video-selector>
    </template>
    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js" inline></script>
    <link rel="import" href="elements/elements.html">
 
   <!-- Offline testing -->
    <script type="text/javascript" src="../../../showcase/showcase5.js"></script>
    <!-- -->

    <script src="scripts/app.js" inline></script>
 
    <script src="scripts/browser-test.js" inline></script>
</body>

</html>
