<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="overlay-miniature-card.html">
<script type="text/javascript" src="overlays-palette.js"></script>
<dom-module id="overlays-wizard">
    <template>
        <style>
        :host {
            display: block;
            position: relative;
        }
        
        paper-dialog {
            width: calc(100% - 64px);
            background-color: white;
            height: calc(100vh - 64px);
            padding-top: 56px;
            box-sizing: border-box;
            z-index: 100 !important;
        }
        
        #header {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 64px;
            background-color: var(--paper-teal-400);
            color: white;
            margin-top: 0;
            @apply(--paper-font-headline);
            @apply(--layout);
            @apply(--layout-center);
        }
        
        .category-title {
            @apply(--paper-font-title);
            padding-top: 24px;
        }
        
        paper-dialog-scrollable /deep/ #scrollable {
            max-height: calc(100vh - 200px) !important;
        }
        
        paper-tabs {
            width: 240px !important;
        }
        
        :root {
            --paper-tabs-selection-bar-color: #26a69a;
        }
        </style>
        <paper-dialog id="wizard" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <div id="header">Select an Overlay to create</div>
            <paper-dialog-scrollable>
                <paper-tabs selected="{{selectedTab}}">
                    <template is="dom-repeat" items="{{overlaysPalette}}">
                        <paper-tab>{{item.category}}</paper-tab>
                    </template>
                </paper-tabs>
                <iron-pages selected="{{selectedTab}}">
                    <template is="dom-repeat" items="{{overlaysPalette}}">
                        <section>
                            <div class="category-title">{{item.category}}</div>
                            <template is="dom-repeat" items="{{item.overlays}}" filter="_filter">
                                <overlay-miniature-card overlay="{{item}}" on-tap="_selected"></overlay-miniature-card>
                            </template>
                        </section>
                    </template>
                </iron-pages>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
</dom-module>
<script>
'use strict';
(function() {
    Polymer({
        is: 'overlays-wizard',
        properties: {
            overlaysPalette: {
                value: Capira.OverlaysPalette()
            },
            selectedTab: {
                value: 0
            }
        },
        show: function(parentOverlay, parentCombination) {
            if (parentOverlay && parentOverlay.id && parentCombination) {
                parentCombination.reaction = parentCombination.reaction || {};
                this.parentOverlay = parentOverlay;
                this.parentCombination = parentCombination;
            } else {
                this.parentOverlay = undefined;
            }
            this.$.wizard.open();
        },
        _selected: function(e) {
            if (!this.blocked) {
                this.blocked = true;
                console.log(e);
                var overlay = null;
                var path = e.path;
                for (var i = 0; i < path.length; i++) {
                    if (path[i].nodeName === 'OVERLAY-MINIATURE-CARD') {
                        overlay = path[i].overlay;
                        break;
                    }
                }
                if (overlay) {
                    console.log('selected', overlay);
                    this.$.wizard.close();
                    var overlayTemplate = JSON.parse(JSON.stringify(overlay.template));

                    overlayTemplate.id = Date.now() + '';
                    if (this.parentOverlay) {
                        //this overlay is triggert by a reaction 
                        overlayTemplate.parentId = this.parentOverlay.id;
                        this.parentCombination.reaction.target = overlayTemplate.id;
                    } else {
                        //this overlay is triggert by the event-timer
                        var currentTime = app.player ? app.player.getCurrentTime() : 0;
                        overlayTemplate.event = {
                            type: 'STOP',
                            start: currentTime,
                        };
                    }


                    overlayTemplate.version = window.DATA_SCHEMA_VERSION;
                    this.fire('overlay-created', overlayTemplate);
                }
                setTimeout(function() {
                    this.blocked = false;
                }.bind(this), 500);
            }
        },
        _filter: function(o) {
            return !o.notYet;
        }
    });
})();
</script>
